.arti {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 170%;
  font-weight: 500;
}

.arti-header {
  margin-top: 6px;
}

.arti__lead {
  padding: 25px 0;
  margin-top: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: -0.013em;
}
