.arti-rules {
  list-style: none;
  counter-reset: arti-rules;
  padding: 0;
  margin-bottom: 100px;
}

.arti-rules__item {
  position: relative;
  counter-increment: arti-rules;
  margin-top: 47px;
}

.arti-rules__item + .arti-rules__item {
  margin-top: 50px;
}

.arti-rules__aside {
  position: absolute;
  left: 7px;
  top: -8px;
  width: 153px;
}

.arti-rules__like-sidebar {
  position: absolute;
  left: 1px;
  top: 23px;
  width: 165px;
}
