.main-nav {
  padding: 25px 0 20px 0;
  box-shadow: 0 4px 20px rgba(35, 35, 36, 0.15);
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
}

.main-nav__site-navigation {
  margin: 0 auto;
}

.main-nav__logo {
  margin-right: 40px;
}
