.meta {
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(#ffffff, 0.5);

  &:hover .meta__icon,
  &:focus .meta__icon {
    opacity: 1;
  }

  &:active .meta__icon {
    opacity: 0.3;
  }
}

.meta__icon {
  opacity: 0.5;
  margin-right: 9px;
}

.meta--stats {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}
