.telephone {
  display: flex;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color: black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.telephone__icon {
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-right: 10px;
}
