@import "./normalize.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/site-navigation.scss";
@import "./blocks/logo.scss";
@import "./blocks/telephone.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main.scss";
@import "./blocks/breadcrumbs.scss";
@import "./blocks/main-article.scss";
@import "./blocks/meta.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
